
/* General Styles */


p {
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: "Oxygen", sans-serif;
    margin-bottom: 10px;
}

.leftline {
    border-left: 1px solid #F4F4F4;
    padding-left: 20px;
}

.rightline {
    border-right: 1px solid #F4F4F4;
    padding-right: 20px;
}

/* Masthead */

.masthead {
    margin-bottom: 0px;
    height: 100px;
    padding: 10;
    background-image: url(../images/background.gif);
}

.masthead h1 {
    color: #900;
}

.masthead .nav {
    margin-top: 40px;
}

.masthead .nav li {
    margin-left: 10px;
    font-weight: normal;
    font-family: "Oxygen", sans-serif;

}

#sublinks ul {  margin: 0; float: right; }

#sublinks a { color: #6A231F; font-size: .9em; font-weight: bold; }
#content { background-color: #fff; padding: 10px 20px; margin-top: 20px; }
h2 { color: #6A231F; }
h2 { color: #6A231F; }

/* Slideshow */

.carousel {
    margin-bottom: 30px;
}

.carousel .item {
    background: #F8F8F8;
    height: 400px;
}

.carousel .item p.caption {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #FFF;
    font-size: 36px;
    font-weight: thin;
    font-family: "Oxygen", sans-serif;
}

/* Columns */

.home-columns {
    margin-bottom: 20px;
}

.home-columns i {
    font-size: 64px;
    margin: 15px 20px 60px 0;
    color: #CCC;
}

.home-columns h2 {
    color: #3B3B3B;
    margin-bottom: 0;
}

.work-columns,
.one-column {
    margin-bottom: 20px;
}

.services-list {
    list-style: none;
    margin: 0;
}

.services-list li {
    line-height: 1.8;
}

/* Contact */

.contact-form {
    padding-top: 20px;
    border-top: 1px solid #F4F4F4;
}

/* Map */

#map_canvas {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

/* Thumbnails */

.thumbnails li a.thumbnail {
    border: none;
    padding: 0;
    margin-bottom: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
}

.thumbnails li a.thumbnail img {
    margin: 0;

}

.thumbnails li a.thumbnail .caption {
    display: block;
    background: #900;
    padding: 0;
    width: 270px;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.thumbnails li a.thumbnail:hover .caption {
    height: 185px;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.thumbnails li a.thumbnail .caption i {
    display: block;
    font-size: 40px;
    color: #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -24px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.thumbnails li a.thumbnail:hover .caption i {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/* Footer */

.footer {
    background: #F8F8F8;
    padding: 0px 0;
}

.footer h3 {
    margin-bottom: 10px;
}

.footer a {
    color: #888;
}

.footer a:hover {
    color: #666;
}

.footer ul.footer-nav {
    list-style: none;
    margin: 0;
}

.footer ul.footer-nav li {
    line-height: 2;
}

/* Carousel items - change these to suit your needs */

.carousel .item1 {
    background: #3B3B3B;
}

.carousel .item2 {
    background: #0fa89e;
}

.carousel .item3 {
    background: #a80f0f;
}

.dropdown-menu .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {

  background-color: #d5d5d5;
}

.img-thumb, .img-desc {
    clear: fixed;
    padding-bottom: 15px;
}

.img-thumb {
    height: 100%;
    width: 50%;
    float: left;

}

.img-desc {
    height: 100%;
    width: 50%;
    float: right;
}

.item-file, .image-jpeg {
    padding: 0px;
    margin-left: 0px;
    cursor: hand;
}

#scripto-transcription-page-wikitext {

}

.nav-btn {
    margin-top: 5px;
}

.thumbnail.right-caption > img {
    float: left;
    margin-right: 0px;
}

#col-images img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}

#col-images {
    width: 250px;
    height: 125px;
}

.thumbnail.right-caption {
    float: left;

}

td img {
    height: 30px;
}

.thumbnail h4 {
   font-family: Inconsolata;
   overflow: hidden;
}

.list-column {
    overflow: auto;
    overflow-x: hidden;
    height: 500px;
    width: 30%;
    float: left;
    margin: 10px;
}

.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

#primary {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.featured-collection {
    background-color: white;
}

.container {
    background-color: white;
}

/* @override http://localhost/bxslider_v3_plugin/css/styles.css */

/*
 * To change the color scheme of slider change each
 * background property for each of the five styles below
 */

/*next button*/
.bx-next {
    position:absolute;
    top:40%;
    right:-35px;
    z-index:999;
    width: 30px;
    height: 30px;
    text-indent: -999999px;
    background: url(../images/gray_next.png) no-repeat 0 -30px;
}

/*previous button*/
.bx-prev {
    position:absolute;
    top:40%;
    left:-10px;
    z-index:999;
    width: 30px;
    height: 30px;
    text-indent: -999999px;
    background: url(../images/gray_prev.png) no-repeat 0 -30px;
}

/*pager links*/
.bx-pager a {
    margin-right: 5px;
    color: #fff;
    padding: 3px 8px 3px 6px;
    font-size: 12px;
    zoom:1;
    background: url(../images/gray_pager.png) no-repeat 0 -20px;
}

/*auto start button*/
.bx-auto .start {
    background: url(../images/gray_auto.png) no-repeat 0 2px;
    padding-left: 13px;
}

/*auto stop button*/
.bx-auto .stop {
    background: url(../images/gray_auto.png) no-repeat 0 -14px;
    padding-left: 13px;
}

/*
 * End color scheme styles
 */


/*next/prev button hover state*/
.bx-next:hover,
.bx-prev:hover {
    background-position: 0 0;
}

/*pager links hover and active states*/
.bx-pager .pager-active,
.bx-pager a:hover {
    background-position: 0 0;
}

/*pager wrapper*/
.bx-pager {
    text-align:center;
    padding-top: 7px;
    font-size:12px;
    color:#666;
}

/*captions*/
.bx-captions {
    text-align:center;
    font-size: 12px;
    padding: 7px 0;
    color: #666;
}

/*auto controls*/
.bx-auto {
    text-align: center;
    padding-top: 15px;
}

.bx-auto a {
    color: #666;
    font-size: 12px;
}

.slider li {
    width: 125px;
}

.slider {
    width: 200px;

}

.slider img {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
}

#header { height: 100px; background-color: #FFF; margin: 0; padding: 0; background-image: url(../images/background.gif); }

a {color: #6A231F;}
a:hover { color: #6A231F; text-decoration: underline; }

body { background-color: #e2e5ce;}

/*header { margin-top: 10px; }*/

.footer { background-color: #d9edfd; margin-left: 0; *zoom: 1;
}
/*********************************************************************************/



 @media only screen and (max-width: 600px) and (min-width: 100px) {
.container { width: 100%; margin: 0; padding: 0; }
#header img { width: 100%; padding: 0; margin: 0; }
.span3 { width: 98%; height: 100%; }
.span4 { width: 98%; margin: 0; }
iframe { width: 100%; height: 30%; }
.twitter { height: 100%; }
.news { height: 100%; }
.bar { border: none; }
 [class*="span"] {
 float: left;
 margin-left: 0;
}
.row { text-align: center; margin: 0; padding: 0; }
.row2 { margin: 0; padding: 0; }
.row2 h3 { font-size: 1.2em; padding-left: 20px; }
.row2 ul { padding-left: 25px; }
.row2 li { font-size: 1.2em; }
}

hr {
    color: #e2e5ce;
    background-color: #e2e5ce;
    height: 10px;
}

.btn-primary {
  background-color: #6A231F;
  *background-color: #6A231F;
  background-image: -ms-linear-gradient(top, #822b26, #6A231F);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#822b26), to(#6A231F));
  background-image: -webkit-linear-gradient(top, #822b26, #6A231F);
  background-image: -o-linear-gradient(top, #822b26, #6A231F);
  background-image: -moz-linear-gradient(top, #822b26, #6A231F);
  background-image: linear-gradient(top, #822b26, #6A231F);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#822b26', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #6A231F;
  *background-color: #6A231F;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #6A231F \9;
}

.progress {
  height: 9px;
  margin-top: 5px;
  margin-bottom: 18px;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
  width: 0;
  height: 9px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

}

.breadcrumb {
    padding: 5px 5px;
    margin: 0 0 10px;
}

#itemfiles li {
    list-style: none:;
    margin: 22px;
}

#transition-window {

}

.tips {
    list-style-type:square;
}

.nav-tabs > li > span {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    display: block;
    line-height: 14px;
    margin-right: 2px;
    padding: 10px 12px;
}
.nav-tabs > li > span:hover {
  border-bottom-color: transparent;
  background-color: #eeeeee;
  color: #555555;
  cursor: default;
  border: 1px solid #ddd;
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li > span:hover > a {
    text-decoration:none;
}